{% extends 'ps_data/base.html' %}

{% block navbar %} 
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'ps_data:ps_data_index' %}">
					검색 
				</a>                
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'ps_data:ps_data_help' %}">
					도움말
				</a>                
			</li>
		</ul>
	</div>
{% endblock %} 

{% block content %}
{% load static %}
<div> 
	<strong>기본 사용법</strong> : 검색창에 키워드 입력후 엔터를 누름 
</div>
	<br/> 


<div class='d-flex justify-content-center' >
	<table class='table table-striped'>
		
		<tbody>
			<tr>
				<td>
					2개 이상의 검색어  
				</td>
				<td>
					<div>공백(스페이스바)</div>
					<div>예제) 파일명에 "scanner", "보고서"가 있는 경우</div>
					<div>
						<img src="{% static 'ps_data/image/multi_keyword.jpg' %}" alt="">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					파일 확장자 검색  
				</td>
				<td>
					<div>.(파일 확장자)</div>
					<div>예제) 파일명에 "scanner"가 있고 파일 확장자가 ppt일 경우</div> 
					<div>
						<img src="{% static 'ps_data/image/file_extension.jpg' %}" alt="">
					</div> 
				</td>
			</tr>
		
		</tbody>
	</table>
</div>

<br/> 

<div> 
	<strong>윈도우 탐색기에서 파일 Open</strong> : 검색 결과에서 "파일 경로" 링크를 클릭한 후, 윈도우 탐색기에 붙여넣기 
</div>
<br/>

<div style="margin-top: 300px;"> 
	최근 업데이트 날짜 : 2021-10-07
</div>

{% endblock %} 